<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= admin_root_path %>">Административная панель</a>
  </div>

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li>
          <%= link_to("#{fa_icon 'sign-out fw'} Logout".html_safe, destroy_admin_session_path, :method => :delete) %>
        </li>
      </ul>
    </li>
  </ul>

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li>
          <a href="<%= admin_admins_path %>"><i class="fa fa-table fa-fw"></i> Администраторы</a>
        </li>
        <li>
          <a href="<%= admin_users_path %>"><i class="fa fa-table fa-fw"></i> Пользователи</a>
        </li>
        <li>
          <a href="<%= new_admin_user_path %>"><i class="fa fa-plus fa-fw"></i> Добавить пользователя</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
