<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Смена пароля администратора</h1>
  </div>
</div>

<%= bootstrap_form_for [:admin, current_admin] do |f| %>
    <%= f.email_field :email, label: 'Почта' %>
    <%= f.password_field :password, label: 'Пароль' %>
    <%= f.password_field :password_confirmation, label: 'Пароль (повторно)' %>
    <%= f.submit 'Обновить', class: 'btn btn-success' %>
<% end %>
